.bicicletas-listas {
    padding: 60px 0 120px 0;
}

.bicicletas-listas h2 {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 20px;
}

.bicicletas-info {
    display: flex;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    overflow-x: auto;
}

.bicicletas-info li {
    min-width: 280px;
    transition: 0.9s;
}

/* .bicicletas-info li:hover {
    transform: scale(1.05);
    transition: 0.9s;
    cursor: pointer;
} */

.bicicletas-info a {
    display: block;
}

.bicicletas-info img {
    margin-bottom: 16px;
}

.bicicletas-info h3 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    color: black;
}

.bicicletas-info h3::before {
    content: "";
    background-color: var(--color-detalhe);
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-right: 8px;
    transition: 0.9s;
}

.bicicletas-info a:hover h3::before {
    width: 20px;
    transition: 0.9s;
}

.bicicletas-info li span { /*aqui é a soma do width e margin-right do h3 before*/
    margin-left: 20px;
    color: #595959;
}

@media (max-width: 800px) {
    .bicicletas-listas {
        padding: 20px 0 60px 0;
    }

    .bicicletas-listas h2 {
        font-size: 3rem;
    }

    .bicicletas-listas ul {
        gap: 20px;
    }
}
