main {
    background: linear-gradient(#111111 500px, #ffffff 0);
}
.contato-bg {
    font-family: 'Merriweather', serif;
    background: #111111;
}

.contato {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.contato-dados, 
.contato-formulario {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 200px;
}

.contato-dados {
    background: #000000;
    border-radius: 5px 0 0 5px;
}

.contato-formulario {
    border-radius: 0 5px 5px 0;
}

.contato-dados h2 {
    color: #ffffff;
    margin-bottom: 60px;
}

.contato-endereco {
    margin-bottom: 32px;
    color: #cccccc;
    background: url(../../img/icones/local.svg) no-repeat 0px 2px;
    padding-left: 28px;
}

.contato-endereco p {
    margin-bottom: 8px;
}

.contato-meios {
    background: url(../../img/icones/email.svg) no-repeat 0px 2px;
}

/* Essa é outra maneira de colocar uma imagem ao lado de algum elemento*/

/* .contato-meios a:first-child {
    background: url(../../img/icones/email.svg) no-repeat 0px 2px;
} */

.contato-meios a {
    display: block;
    padding-left: 28px;
}

.contato-meios a {
    margin-bottom: 25px;
}

.contato-meios a:hover {
    color: #ffffff;
}

.contato-meios a {
    color: #cccccc;
    max-width: max-content; /*aqui faz com que a area de clicar no botoa seja do tamanho do elemento*/
    margin-bottom: 8px;
}

.contato-meios a:nth-child(2) {
    margin-bottom: 32px;
}

.contato-meios a:nth-child(3) {
    background: url(../../img/icones/telefone.svg) no-repeat 0 2px;
    margin-bottom: 60px;
}

.icons-det {
    padding-left: 28px;
    display: flex;
    gap: 32px;
}

.icons-det a {
    color: #F9B206;
}

@media (max-width: 800px) {
    .contato {
        grid-template-columns: 1fr;
    }

    .contato-dados,
    .contato-formulario {
        padding: 20px;
    }

    .contato-dados {
        border-radius: 5px 5px 0 0;
    }

    .contato-formulario {
        border-radius: 0 0 5px 5px;
    }

    .contato-dados h2,
    .contato-meios a:nth-child(3) {
        margin-bottom: 32px;
    }
}