.lojas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.lojas h2 {
    grid-column: 1/-1;
}

.endereco {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 16px;
    padding: 32px;
}

.lojas-item {
    display: grid;
    gap: 25px;
}

.lojas-item h3 {
    padding-left: 20px;
}

.loja-dados {
    display: grid;
    gap: 10px;
    padding-left: 30px;
    color: #595959;
}

.loja-dados a {
    display: flex;
    color: #595959;
}

.lojas-item > p {
    display: flex;
    gap: 12px;
    padding-left: 20px;
}

@media (max-width: 800px) {
    .lojas {
        grid-template-columns: 1fr;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .lojas > h2 {
        font-size: 2rem;
    }

    .endereco {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .lojas-item h3 {
        padding-left: 15px;
    }

    .lojas-item .tempo {
        margin-bottom: 60px;
    }
}