#orcamento {
    background: linear-gradient(#111111 500px, #ffffff 0);
}

.orcamento {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding-bottom: 120px;
}

.orcamento h2 {
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    color: #404040;
}

.orcamento h2::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    background: #ffbb00;
    position: absolute;
    left: -12px;
}

.orcamento-produto,
.orcamento-dados {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
    border-radius: 5px 0 0 5px;
    background: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    gap: 20px;
}

.orcamento-produto > * {
    grid-column: 1/-1;
}

.orcamento-produto > label {
    grid-column: initial;
}

.orcamento-produto label {
    font: 400 1rem/1.5 "Poppins", sans-serif;
    color: #C1C1C1;
    background-color: #2e2e2e;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.orcamento-produto input:checked + label {
    background: #fff;
    color: #000;
    border: 2px solid #ffbb00;
}

.orcamento-produto label::before {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #2e2e2e;
    border-radius: 50%;
    margin-right: 8px;
}

.orcamento-produto input:checked + label::before {
    border-color: #ffbb00;
    box-shadow: inset 0 0 0 3px wheat, inset 0 0 0 6px red;
}

.orcamento-produto label span {
    display: none;
}

.orcamento-produto input:checked + label span {
    display: inline-block;
} 

.orcamento-produto input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.orcamento-conteudo {
    display: grid;
    gap: 20px;
}

.contato-dados {
    border-radius: 0 5px 5px 0;
    background: #ffffff;
}

.orcamento-detalhe ul li > img {
    width: 16px;
}

.orcamento-detalhe ul {
    background: #fff;
    padding: 40px;
    border-radius: 6px;
}

.orcamento-detalhe ul li {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 12px;
}