.vantagens-bg {
    background: #000000;
}

.titulo {
    padding: 40px 20px;
}
.vantagens {
    padding: 120px 20px;
}

.vantagens h2 {
    color: #ffffff;
    margin-bottom: 60px;
}

.vantagens ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 40px 80px;
}

.vantagens h3,
img {
    margin-bottom: 8px;
}

.detal {
    font-size: 1.4rem;
    color: #b2b2b2;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .titulo h1 {
        font-size: 3rem;
    }
    
    .vantagens {
        padding: 60px 20px;
    }

    .vantagens ul {
        grid-template-columns: 1fr;
    }

    .vantagens h2 {
        font-size: 2.5rem;
    }
}

.perguntas {
    padding: 120px 20px;
}

.perguntas h2 {
    margin-bottom: 40px;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

.perguntas dl > div {
    padding: 20px;
    border-radius: 4px;
}

.perguntas dt {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.perguntas dt::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    background-color: #ffbb00;
}

.perguntas dt::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 6px;
    background: url(../../img/icones/seta-abrir.svg);
    transition: 0.3s;
}

.perguntas dt:hover::after {
    transform: rotate(180deg);
}

.perguntas dd {
    padding-left: 20px;
    padding-top: 16px;
    max-width: 80ch;
}

@media (max-width: 800px) {
    .perguntas {
        padding: 60px 20px;
    }

    .perguntas h2 {
        font-size: 2rem;
    }
}